<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="static/images/lms_icon.png" type="image/png">
    <link rel="stylesheet" href="{{url_for('static', filename='css/guide.css')}}">
    <meta charset="UTF-8">
    <title>Предпросмотр - {{form['name']}}</title>
</head>
<body>
<div style="padding-left: 70px;
    margin-right: auto;
    margin-left: auto;
    max-width: 560px;">
<h1>{{form['name']}}</h1>
{% for i in form['message'] %}
{{ i }}
{% if form['len'] > 1 %}
<br>
{% endif %}
{% endfor %}
{% for i in form['images'] %}
<img src="{{ i }}" alt="" style="max-width: 340px; max-height: 340px; border-radius: 6px; object-fit: cover">
<br>
{% endfor %}
</div>
</body>
</html>