<!DOCTYPE html>
<html>
<head>
	<title>Learnfull - Вход</title>
	<!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">-->
  <link rel="stylesheet" href="{{url_for('static', filename='css/login_signup.css')}}">
    <link rel="shortcut icon" href="static/images/lms_icon.png" type="image/png">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div id="lms_icon">
      <li><a href="/" class="lms_icon"><img class="lms_icon" src="{{url_for('static', filename='images/arrow_icon.png')}}" alt=""></a></li>
    </div>
    <div class="form">
      <form action="" method="post">
        <div class="title">Добро пожаловать!</div>
        {% if message %}
            <div class="message">{{message}}</div>
        {% endif %}
        <div class="input-container ic1">
          <input id="idemail" name="email" class="input" type="email" placeholder=" " />
          <div class="cut"></div>
          <label for="idemail" class="placeholder">Почта</label>
        </div>
        <div class="input-container ic2">
          <input id="idpasw" name="pasw" class="input" type="password" placeholder=" " />
          <div class="cut cut-short"></div>
          <label for="idpasw" class="placeholder">Пароль</label>
        </div>
        <button type="text" class="submit">Войти</button>
      </form>
    </div>
</body>
</html>