<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="static/images/lms_icon.png" type="image/png">

    <title>Learnfull - Главная Страница</title>
</head>
<body>
    <header id="hed">
        <div>
            <img id="header-icon" src="{{url_for('static', filename='images/lms_icon.png')}}" alt="">
        </div>
        <div id="lng_buts">
            {% if category == 'html5' %}
            <a href="/?category=python" class="lng_but_nonact">Python</a>
            <a class="lng_but_act">HTML5</a>
            <a href="/?category=css3" class="lng_but_nonact">CSS3</a>
            <a href="/?category=js" class="lng_but_nonact">JS</a>
            <a href="/?category=other" class="lng_but_nonact">Другое</a>
            {% elif category == 'css3' %}
            <a href="/?category=python" class="lng_but_nonact">Python</a>
            <a href="/?category=html5" class="lng_but_nonact">HTML5</a>
            <a class="lng_but_act">CSS3</a>
            <a href="/?category=js" class="lng_but_nonact">JS</a>
            <a href="/?category=other" class="lng_but_nonact">Другое</a>
            {% elif category == 'js' %}
            <a href="/?category=python" class="lng_but_nonact">Python</a>
            <a href="/?category=html5" class="lng_but_nonact">HTML5</a>
            <a href="/?category=css3" class="lng_but_nonact">CSS3</a>
            <a class="lng_but_act">JS</a>
            <a href="/?category=other" class="lng_but_nonact">Другое</a>
            {% elif category == 'other' %}
            <a href="/?category=python" class="lng_but_nonact">Python</a>
            <a href="/?category=html5" class="lng_but_nonact">HTML5</a>
            <a href="/?category=css3" class="lng_but_nonact">CSS3</a>
            <a href="/?category=js" class="lng_but_nonact">JS</a>
            <a class="lng_but_act">Другое</a>
            {% else %}
            <a class="lng_but_act">Python</a>
            <a href="/?category=html5" class="lng_but_nonact">HTML5</a>
            <a href="/?category=css3" class="lng_but_nonact">CSS3</a>
            <a href="/?category=js" class="lng_but_nonact">JS</a>
            <a href="/?category=other" class="lng_but_nonact">Другое</a>
            {% endif %}
        </div>
        {% if current_user.is_authenticated %}
            <div class="user_prof">
                <a href="/profile" class="username"></a>
                <li><a href="/profile" class="prof_icon"><img src="data:image/png;base64,{{ pfp }}" alt="" class="prof_icon"></a></li>
                <li><a href="/logout" class="lin_sup" style=";;;;;;;;display: flex;
align-items: center;">Выйти</a></li>
            </div>
        {% else %}
            <div class="ls_buts">
                <a href="/register" class="lin_sup" id="sup">Зарегистрироваться</a>
                <a href="/login" class="lin_sup" id="lin">Войти</a>
            </div>
        {% endif %}
    </header>
    <main id="main">
        <nav class="menu">
            <ul>
                <li><a href="/" class="nav_icons"><img src="{{url_for('static', filename='/images/navbar_home_icon_act.png')}}" alt="" class="nav_icons nav_home"></a></li>
                <li><a href="/create_guide" class="nav_icons"><img src="{{url_for('static', filename='/images/navbar_edit_icon_nonact.png')}}" alt="" class="nav_icons nav_edit"></a></li>
                {% if current_user.is_authenticated %}
                {% if current_user.id == 1 %}
                <li><a href="/admin" class="nav_icons"><img src="{{url_for('static', filename='/images/navbar_les_icon_nonact.png')}}" alt="" class="nav_icons nav_les"></a></li>
                {% endif %}
                {% endif %}
            </ul>
        </nav>
        <div class="container">
            <div class="card__container">
              {% for guide in guides %}
              <a class="card" href='/guide/{{ guide["id"] }}' style="text-decoration: none;">
                <div class="card__content">
                  <h3 class="card__header">{{ guide['category'][1] }}</h3>
                  <h3 class="card__header">{{ guide['title'] }}</h3>
                  <p class="card__info" style="word-break: break-word;">
                    {{ guide['text']}}
                  </p>
                  {% if current_user.id == 1 or current_user.is_mod or current_user.id == guide['o_id'] %}
                  <form action="/delete/{{guide['id']}}">
                  <button type="submit" class="delete">Удалить</button>
                  </form>
                  {% endif %}
                </div>
                {% if guide['images'] %}
                <img class="widget_img" src="{{ guide['images'] }}" alt="">
                {% else %}
                <img class="widget_img" src="{{url_for('static', filename='/images/widget.png')}}" alt="">
                {% endif %}
                <h4 class="card__name_av">{{ guide['name'] + guide['surname'] }}</h4>
              </a>
              {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>
